.backgroundimage {
    background-image:url('./mbr-10.jpg');
    height:520px;
    margin-top:20px; 
    position:relative;
}
.backgroundtext{
    font-size:30px; 
    position:absolute;
    top:20%;
    left:30%;
}
.healthtracker {
    font-size:50px;
    color:white;
    position:absolute;
    top:35%;
    left:30%;
}
.inputSearch {
    position:absolute;
    top:60%;
    left:25%;   
}
.inputEmail {
    width:300px;
    height:70px;
    border-radius:8px;
    border:2px solid green;
    font-size:20px;
}
.button {
    width:250px;
    height:70px;
    border-radius:8px;
    color:white;
    background-color:green;
    border:2px solid green;
    margin:5px;
    font-size:20px;
}