.header {
    display:flex;
    padding-top:20px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
    position:fixed;
    z-index: 50;
    top:0;
    background-color:white;
    margin-bottom:80px;
    width: 100%;
    height:70px;
    font-family: 'Work Sans',sans-serif;
}
.appamp {
    font-weight:bold;
    padding:0px 10px 0px 30px;
    font-size:20px;
    text-align: center;
}
.appamp:hover {
    color:gainsboro;
}
.middleheader {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:80%;
}
.button {   
    padding:8px 30px;
    color:#6278df;
    border:2px solid #6278df;
    background-color: white;
    border-radius:6px;
    font-size:15px;
    font-weight: bold;

}
.button:hover {
    color:white;
    background-color: blue;
    cursor:pointer;
}
.home {
    padding:0px 30px 0px 200px;
}
.demo { 
    padding:0px 70px 0px 20px;
    position:relative;
}
.blocks {
    padding:0px 100px 0px 0px;
    margin-right:100px;
    position:relative;
}
.demo:hover .demolist,.blocks:hover .blockslist{
    display:block;
    cursor:pointer;
    background-color: whitesmoke;
}
.demolist,.blockslist {
    display:none;
    position:absolute;
    z-index:1;
    border-bottom: 1px solid #e6e6e6;
}
.list {
    padding:5px;
    border:1px solid whitesmoke;
    text-decoration:none;
    display:block;
    color: #010101;
    width:200px;
    border-bottom: 1px solid #e6e6e6;
    padding:10px 0px 10px 10px;
}

@media (max-width: 767px) {

    .header {
        display:flex;
        padding-top:20px;
        box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
        position:fixed;
        z-index: 50;
        top:0;
        background-color:white;
        margin-bottom:80px;
        width:100%;
        height:70px;
        font-family: 'Work Sans',sans-serif;
    }
    .appamp {
        font-weight:bold;
        padding:0px 0px 0px 10px;
        font-size:15px;
        text-align: center;
    }
    .appamp:hover {
        color:gainsboro;
    }
    .middleheader {
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .button {   
        padding:5px 10px;
        color:#6278df;
        border:2px solid #6278df;
        background-color: white;
        border-radius:6px;
        font-size:15px;
        font-weight: bold;
    
    }
    .button:hover {
        color:white;
        background-color: blue;
        cursor:pointer;
    }
    .home {
        padding:0px 0px 0px 10px;
        margin-left:10px;
    }
    .demo { 
        padding:0px 10px 0px 20px;
        position:relative;
        margin:0px 10px;
    }
    .blocks {
        padding:0px 10px 0px 0px;
        margin-right:10px;
        position:relative;
    }
    .demo:hover .demolist,.blocks:hover .blockslist{
        display:block;
        cursor:pointer;
        background-color: whitesmoke;
    }
    .demolist,.blockslist {
        display:none;
        position:absolute;
        z-index:1;
        border-bottom: 1px solid #e6e6e6;
    }
    .list {
        padding:5px;
        border:1px solid whitesmoke;
        text-decoration:none;
        display:block;
        color: #010101;
        width:100px;
        border-bottom: 1px solid #e6e6e6;
        padding:5px 0px 5px 5px;
    }

}

